<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="8.4.0" targetFramework="net45" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net45" />
  <package id="System.Memory" version="4.5.2" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
</packages>